# Calculating the Accuracy of the Model

Using the same dataset, expand the model by including all other features into the regression. 

Moreover, calculate the accuracy of the model and create a confusion matrix

## Import the relevant libraries

In [4]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
import statsmodels.api as sm 
import seaborn as sns 

sns.set()

## Load the data

Load the ‘Bank_data.csv’ dataset.

In [7]:
raw_data = pd.read_csv("Bank_data.csv") 
data = raw_data.drop("Unnamed: 0", axis=1)

data.head()

   interest_rate  credit  march  may  previous  duration    y
0          1.334     0.0    1.0  0.0       0.0     117.0   no
1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2          4.858     0.0    1.0  0.0       0.0     167.0   no
3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [8]:
data["y"] = data["y"].map({"yes": 1, "no": 0})

data

     interest_rate  credit  march  may  previous  duration  y
0            1.334     0.0    1.0  0.0       0.0     117.0  0
1            0.767     0.0    0.0  2.0       1.0     274.0  1
2            4.858     0.0    1.0  0.0       0.0     167.0  0
3            4.120     0.0    0.0  0.0       0.0     686.0  1
4            4.856     0.0    1.0  0.0       0.0     157.0  0
..             ...     ...    ...  ...       ...       ... ..
513          1.334     0.0    1.0  0.0       0.0     204.0  0
514          0.861     0.0    0.0  2.0       1.0     806.0  1
515          0.879     0.0    0.0  0.0       0.0     290.0  0
516          0.877     0.0    0.0  5.0       1.0     473.0  1
517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 7 columns]

### Declare the dependent and independent variables

Use 'duration' as the independet variable.

In [11]:
y = data["y"]
inputs = data.drop("y", axis=1) 

inputs

     interest_rate  credit  march  may  previous  duration
0            1.334     0.0    1.0  0.0       0.0     117.0
1            0.767     0.0    0.0  2.0       1.0     274.0
2            4.858     0.0    1.0  0.0       0.0     167.0
3            4.120     0.0    0.0  0.0       0.0     686.0
4            4.856     0.0    1.0  0.0       0.0     157.0
..             ...     ...    ...  ...       ...       ...
513          1.334     0.0    1.0  0.0       0.0     204.0
514          0.861     0.0    0.0  2.0       1.0     806.0
515          0.879     0.0    0.0  0.0       0.0     290.0
516          0.877     0.0    0.0  5.0       1.0     473.0
517          4.965     0.0    0.0  0.0       0.0     142.0

[518 rows x 6 columns]

### Simple Logistic Regression

Run the regression and graph the scatter plot.

In [14]:
intercept = sm.add_constant(inputs)

reg_log = sm.Logit(y, intercept)

results = reg_log.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.335942
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      511
Method:                           MLE   Df Model:                            6
Date:                Thu, 01 Aug 2024   Pseudo R-squ.:                  0.5153
Time:                        02:09:22   Log-Likelihood:                -174.02
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 7.579e-77
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.1385      0.339     -0.408      0.683      -0.804       0.527
interest_rate    -0.7802      0.092     -8.471      0.000      -0.961      -0.600
credit            2.4028      1.090      2.205      0.027       0.267       4.538
march            -1.8097      0.332     -5.459      0.000      -2.459      -1.160
may               0.1946      0.229      0.849      0.396      -0.255       0.644
previous          1.2746      0.583      2.186      0.029       0.132       2.417
duration          0.0070      0.001      9.386      0.000       0.006       0.008
=================================================================================
"""

## Expand the model

We can be omitting many causal factors in our simple logistic model, so we instead switch to a multivariate logistic regression model. Add the ‘interest_rate’, ‘march’, ‘credit’ and ‘previous’ estimators to our model and run the regression again.

### Declare the independent variable(s)

In [18]:
np.set_printoptions(formatter={"float": lambda x: "{0:0.2}".format(x)})
reg_predict = results.predict()
results.pred_table()

array([[2.2e+02, 3.9e+01],
       [3.1e+01, 2.3e+02]])

### Confusion Matrix

Create the confusion matrix of the model and estimate its accuracy.

<i> For convenience we have already provided you with a function that finds the confusion matrix and the model accuracy.</i>

In [22]:
def confusion_matrix(data,actual_values,model):
        
        # Confusion matrix 
        
        # Parameters
        # ----------
        # data: data frame or array
            # data is a data frame formatted in the same way as your input data (without the actual values)
            # e.g. const, var1, var2, etc. Order is very important!
        # actual_values: data frame or array
            # These are the actual values from the test_data
            # In the case of a logistic regression, it should be a single column with 0s and 1s
            
        # model: a LogitResults object
            # this is the variable where you have the fitted model 
            # e.g. results_log in this course
        # ----------
        
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and 
        return cm, accuracy

In [35]:
accuracy_df = pd.DataFrame(results.pred_table())
accuracy_df.columns = ["Predicted 0", "Predicted 1"]
accuracy_df.rename(index={0: "Actual 0", 1: "Actual 1"})

accuracy_df

# check_accuracy =

   Predicted 0  Predicted 1
0        220.0         39.0
1         31.0        228.0