# Understanding Logistic Regression Tables

Using the same code as in the previous exercise, try to interpret the summary table.

### More information about the dataset: 
Note that <i> interest rate</i> indicates the 3-month interest rate between banks and <i> duration </i> indicates the time since the last contact was made with a given consumer. The <i> previous </i> variable shows whether the last marketing campaign was successful with this customer. The <i>March</i> and <i> May </i> are Boolean variables that account for when the call was made to the specific customer and <i> credit </i> shows if the customer has enough credit to avoid defaulting.

<i> Notes: 
    <li> the first column of the dataset is an index one; </li>
    <li> you don't need the graph for this exercise; </li>
    <li> the dataset used is much bigger </li>
</i>

## Import the relevant libraries

In [4]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
import statsmodels.api as sm 
import seaborn as sns 

sns.set()

## Load the data

Load the ‘Bank_data.csv’ dataset.

In [7]:
raw_data = pd.read_csv("Bank_data.csv")
data = raw_data.drop("Unnamed: 0", axis=1)
data

     interest_rate  credit  march  may  previous  duration    y
0            1.334     0.0    1.0  0.0       0.0     117.0   no
1            0.767     0.0    0.0  2.0       1.0     274.0  yes
2            4.858     0.0    1.0  0.0       0.0     167.0   no
3            4.120     0.0    0.0  0.0       0.0     686.0  yes
4            4.856     0.0    1.0  0.0       0.0     157.0   no
..             ...     ...    ...  ...       ...       ...  ...
513          1.334     0.0    1.0  0.0       0.0     204.0   no
514          0.861     0.0    0.0  2.0       1.0     806.0  yes
515          0.879     0.0    0.0  0.0       0.0     290.0   no
516          0.877     0.0    0.0  5.0       1.0     473.0  yes
517          4.965     0.0    0.0  0.0       0.0     142.0   no

[518 rows x 7 columns]

In [8]:
# Map the yes and nos to 1s and 0s
data["y"] = data["y"].map({"yes": 1, "no": 0})
data

     interest_rate  credit  march  may  previous  duration  y
0            1.334     0.0    1.0  0.0       0.0     117.0  0
1            0.767     0.0    0.0  2.0       1.0     274.0  1
2            4.858     0.0    1.0  0.0       0.0     167.0  0
3            4.120     0.0    0.0  0.0       0.0     686.0  1
4            4.856     0.0    1.0  0.0       0.0     157.0  0
..             ...     ...    ...  ...       ...       ... ..
513          1.334     0.0    1.0  0.0       0.0     204.0  0
514          0.861     0.0    0.0  2.0       1.0     806.0  1
515          0.879     0.0    0.0  0.0       0.0     290.0  0
516          0.877     0.0    0.0  5.0       1.0     473.0  1
517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 7 columns]

### Declare the dependent and independent variables

Use 'duration' as the independent variable.

In [41]:
y = data["y"]
x1 = data.drop("y", axis=1)

### Simple Logistic Regression

Run the regression.

In [43]:
x_const = sm.add_constant(x1)

reg_log = sm.Logit(y, x_const)
results = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.335942
         Iterations 7

### Interpretation

In [45]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      511
Method:                           MLE   Df Model:                            6
Date:                Wed, 31 Jul 2024   Pseudo R-squ.:                  0.5153
Time:                        13:55:54   Log-Likelihood:                -174.02
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 7.579e-77
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.1385      0.339     -0.408      0.683      -0.804       0.527
interest_rate    -0.7802      0.092     -8.471      0.000      -0.961      -0.600
credit            2.4028      1.090      2.205      0.027       0.267       4.538
march            -1.8097      0.332     -5.459      0.000      -2.459      -1.160
may               0.1946      0.229      0.849      0.396      -0.255       0.644
previous          1.2746      0.583      2.186      0.029       0.132       2.417
duration          0.0070      0.001      9.386      0.000       0.006       0.008
=================================================================================
"""

In [52]:
np.exp(2.08)

8.004468914296353